---
import Layout from '../layouts/Layout.astro';
import ModalComponent from '../components/Modal.astro';
---

<Layout title="Password Recovery Example">
  <button data-micromodal-trigger="modal-1">Recuperar Contraseña</button>

  <ModalComponent id="modal-1" title="Recuperar Contraseña">
    <form id="password-recovery-form" 
    class="form-container">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required  placeholder="coloca tu correo @"/>
      </div>
    </form>

    <slot name="actions">
      <div class="flex justify-cc">
        <button class="modal__btn modal__btn-primary" type="submit" form="password-recovery-form">
          Enviar Codigo
        </button>
        <button class="modal__btn" data-micromodal-close>
          Cancelar
        </button>
      </div>
    </slot>
  </ModalComponent>
</Layout>